<%- include("../partials/header") %>
<div class="container">
  <h1> Select your workout plan</h1>
  <div>Create a Workout Plan</div>
  <form method="POST" action="/workout-plan">
    <div class ="form-floating"> 
      <input class="form-control" name="title" id="title" type="text"/>
      <label class="form-label" for="title">Plan Name</label>
    </div>
    <button class="col-12 btn btn-primary mt-3">Submit</button>
  </form>
</div>
  <%- include("../partials/footer") %>