<%- include('./partials/header.ejs') %>
  
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/auth/google"><button>Login</button></a>

    <div class="container">
      <svg viewBox="0 0 960 300">
        <symbol id="s-text">
          <text text-anchor="middle" x="50%" y="80%">Better-Health</text>
        </symbol>
    
        <g class = "g-ants">
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
        </g>
      </svg>
    </div>

  <%- include('./partials/footer.ejs') %>
